* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /*font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
    /*font-family:  "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;*/
    font: 12px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;

    background-color:#fff;


    /*font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;*/

    /*ok*/
    /*font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;*/
}



.new_order_main_div {
    background-color: #f2f5f7;

    /*  background-color: #d7ebf9;
      background: -webkit-linear-gradient(top,#EFF5FF 0,#d7ebf9 100%);
      background: -moz-linear-gradient(top,#EFF5FF 0,#d7ebf9 100%);
      background: -o-linear-gradient(top,#EFF5FF 0,#d7ebf9 100%);
      background: linear-gradient(to bottom,#EFF5FF 0,#d7ebf9 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#d7ebf9,GradientType=0);*/
}



.radio_label {
    font-weight: bold;
    border: 0px solid black;
    width: 100%;
}

.product_choose_textbox:hover .textbox-icon {
    opacity: 1.0;
    filter: alpha(opacity=100);
    background: url('scripts/jquery-easyui/themes/icons/pencil.png') no-repeat center center;
}

.no_border {
    border-color: #000
}

input.search_input {
    width: 200px;
    height: 16px;
    line-height: 16px;
    font-size:11px;
}

.search_label {
    height: 18px;
    line-height: 18px;
    vertical-align: middle;

}

.product_detail_table {
    width: 600px;
    border-collapse: collapse;
    border: 1px dashed steelblue;
    margin: 2px 0px 20px 80px;
}

.product_detail_table th {

}

.product_detail_table th, .product_detail_table td {
    padding: 6px 4px;
    font-weight: normal;
    border: 1px dashed steelblue;
}

.tabs {
    -webkit-app-region: drag;
}

.tabs li, .tabs-panels {
    -webkit-app-region: no-drag;
}

.test {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(rgb(234, 237, 241)));
}

a.account_logo {
    margin-top: 31px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    _float: left;
    background-image: url("../images/account_logo.png")
}

a:hover.account_logo {
    background-color: #fff;
}

a:hover.menu_a {
    border:1px solid blue
}

#title_bar {
    -webkit-app-region: drag;
    border: 0px solid red;
    background-color: #ffffff;
    width: 100%;
    height: 24px;
    line-height: 24px;
    /*padding-left: 30px;*/
    font-size: 12px;
}

.win_btn_tb {
    width: 135px;
    height: 24px;
    text-align: left;
    position: absolute;
    border-collapse: collapse;
    top: 0px;
    right: 2px;
}

a.win_btn {
    width: 45px;
    height: 24px;
    text-align: center;
    display: block;
    -webkit-app-region: no-drag;
    cursor: default;

}



.win_btn_tb a:hover {
    background-color: #eee;

}

.win_btn_tb a:hover#close_btn {
    background-color: red

}

.win_btn_tb a svg {
    fill: #666666;
}

.win_btn_tb a:hover svg {
    fill: black;
}

.win_btn_tb a:hover#close_btn svg {
    fill: white;
}



.bill_table {
    border-collapse: collapse;
    border: 0px dashed gray;
    width: 810px;
    margin-top: 0pt;
    table-layout: fixed;

}

.bill_table td {
    padding: 10px 0px;
    vertical-align: middle;
}

.bill_customer_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin-top:20px;
}

.bill_customer_table td {
    text-align: left;
    padding: 4px 0.5% 4px 0.5%;
    height: 32px;
    vertical-align: middle;
    border: 1px solid #aaa;
    /*background-color:#eee;*/
}

.bill_product_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin-top:20px;
}

.bill_product_table th {
    text-align: center;
    border: 1px solid #aaa;
    padding: 0px auto;
    height: 40px;
}

.bill_product_table td {
    text-align: left;
    padding: 1px 0.5% 1px 0.5%;
    height: 32px;
    vertical-align: middle;
    border: 1px solid #aaa;
    /*background-color:#eee;*/
}



.bill_user_table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
    margin-top:20px
}

.bill_user_table td {
    text-align: left;
    padding: 4px 0.5% 4px 0.5%;
    height: 32px;
    vertical-align: middle;
    border: 1px solid #aaa;
}

.customer_name {
    width: 300px;
}

.customer_address {
    width: 300px;
}

.sale_date {
    width: 120px;
}

.principal {
    width: 120px;
}

.telephone {
    width: 120px;
}

.product_name {
    width: 250px;
}

.product_units {
    width: 60px;
}

.product_price {
    width: 70px;
}

.product_num {
    width: 80px;
}

.product_sum {
    width: 90px;
}

.product_memo {
    width: 180px;
}

.messager-body {
    padding: 10px 10px 10px 10px;
    overflow: auto;
}

/*.panel .window .messager-window{ background-color: #329bf6;	!* 背景色 *! border-radius:5px;	!* 四角圆弧 *! border-color: #329bf6;	!* 边框色 *! padding:0; padding-top: 5px; }*/
/*.messager-window .panel-header .panel-title{ color:#fff;	!* 标题文字颜色 *! }*/

.mgs_cls {
    border: none;
}

.msg_body_cls {
    background-color: #fffa90;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size:12pt;
    font-family: 楷体;
}
.error_body_cls {
    background-color: red;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size:12pt;
    font-family: 楷体;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

div.toolbar1 {
    display: inline;
}



.icon-lorry{
    background:url('../images/3d_lorry.png') no-repeat center center;
}
